<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel=stylesheet href="../frontpage/frontpage.css">
    <link rel=stylesheet href="./spice.css">
    <title>Tilføj Krydderi</title>
</head>
<body>

<nav class="navbar">
    <h2><a href="../frontpage/frontpage.html">Dashboard</a></h2>
    <h5> <a href="../admin/recipes.html">Opskrifter</a></h5>
    <h5><a href="../admin2/spice.html">Krydderier</a></h5>
    <h5>Statistik</h5>
    <h5><a href="../admin3/blog.html ">Blog</a></h5>
    <h5>Bestillinger</h5>
    <div class="profile">
        <span class="search-bar"></span>
        <img class="profile-image" src="https://picsum.photos/200/200?random=1">
        <p class="profile-name">Admin: </p>
    </div>
</nav>

<h2>Tilføj et krydderi</h2>

<div id="spice">

    <label>Navn</label>
    <br>
    <input id="create-spice-name" placeholder="Indtast navnet på krydderiet">
    <br><br>
    <label>Beskrivelse</label>
    <br>
    <textarea id="editor" placeholder="Indtast beskrivelsen af krydderiet"></textarea>
    <br><br>
    <label>Pris</label>
    <br>
    <input type=number id="create-spice-price" placeholder="Indtast prisen på krydderiet">
    <br><br>
    <label>Billede</label>
    <br>
    <input  type="file" id="create-spice-image" placeholder="Indsæt billed til krydderiet" name="image-name">
    <br> <br>
    <button id="button-plus" onclick="createSpice(); myhref2()">+</button>

</div>

<script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
<script src="./texteditor2.js"></script>

<script src="createSpice.js"></script>
<script src="../global/global.js"></script>



</body>
</html>

<!--
<textarea id="create-spice-description" placeholder="Indtast beskrivelsen af krydderiet"></textarea>-->
