<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="admin-nav">
    <a href="/../Recipes/recipe-list.html"><img alt=" " width="30px" height="30px" src=""/> </a>
    <a href="../admin/recipes.html">Opskrifter</a>
    <a href="/">Krydderier</a>
    <a href="/">Statestik</a>
    <a href="/">Blog</a>
    <a href="/">Bestillinger</a>
</nav>
<h2>Velkommen til admin page, klik på navigationsbaren for at komme til den rette destination</h2>
</body>
</html>