<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="customer-blog-list.css">
    <link rel="stylesheet" type="text/css" href="../../global/global-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../global/global-navbar.css">
    <script src="../../global/global.js"></script>
    <title>Vores blog</title>
</head>
<body>

<header id="nav-bar"></header>


<h1 id="title">Blog</h1>

<div class="customer-blog-list" id="customer-blog-list"></div>

<div id="footer"></div>



<script src="blogList.js"></script>
<script src="../../global/global-nav-footer.js"></script>

</body>
</html>