body {
    background-color: rgb(228, 228, 228);
}

.customer-blog-list{
    padding: 30px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
    max-width: 1200px;


}

.sectionwrapper{
    float: right;
    width: 85%;
    justify-content: space-between;
    font-size: 18px;

}
.sectionwrapper:hover{

    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}





.image_img {
    float: left;
    margin-bottom: 5rem;
    margin-right: 1rem;
    justify-content: space-between;

}
.h1 {
    float: right;
    width: 75%;
}

.blog-desc,read-more-btn{
    text-align: left;


}

.titel{
    text-align: center;


}
