<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="global-footer.css">
    <link rel="stylesheet" type="text/css" href="global-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="global.js"></script>
    <title>Kontakt Os</title>
</head>
<body>
<header id="nav-bar">
</header>
<p>tlf: +4553467897</p>
<p>email: hehehee@gmail.com</p>
<p>Adresse: flintstensvej 6, st tv. 2700, Brønshøj</p>
<div id="footer">

</div>


<script src="global-nav-footer.js"></script>
</body>
</html>