.admin-header {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #990000;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    height: 75px;
}
.admin-header {
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border: none;
    flex-direction: row;
    justify-content: space-between;
}
.admin-nav {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: whitesmoke;
    list-style-type: none;
    text-decoration: none;
}