
<header class="admin-header">
    <nav class="admin-nav">
        <ul>
        <li><a href="../admin/recipes.html"><img alt=" " width="30px" height="30px" src="https://icon-library.com/images/movie-icon/movie-icon-26.jpg"/> </a></li>
        <li><a href="../admin/recipes.html">Opskrifter</a></li>
        <li><a href="../admin2/spice.html">Krydderier</a></li>
        <li><a href="/">Statistik</a></li>
        <li><a href="/">Blog</a></li>
        <li> <a href="/">Bestillinger</a></li>
        </ul>
    </nav>
</header>
