<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="customer-recipe.css">
    <script src="../../global/global.js"></script>
    <title>opksrift liste</title>

</head>

<body>

<header>

    <div class="nav">
        <ul>
            <li class="logo"><a href="#">LOGO</a></li>
            <li class="krydderier"><a href="http://localhost:63342/SpiceClub/template/customer/spice/customer-spice-list.html?_ijt=o0e8k44usbe6p7corln46eooa&_ij_reload=RELOAD_ON_SAVE">Krydderier</a></li>
            <li class="opskrifter"><a href="http://localhost:63342/SpiceClub/template/customer/recipe/recipe-list.html?_ijt=669m2l4evef258ocefh6hd8fdc&_ij_reload=RELOAD_ON_SAVE">Opskrifter</a></li>

        </ul>
    </div>

</header>


<section id="om-section">

</section>


<script src="specificRecipe.js"></script>
<script src="../../lib/escapeHTML.js"></script>
</body>
</html>

