body {
    margin: 0;
    padding: 0px;
    background-color: white !important;
    font-family: 'Abhaya Libre', serif;
}


.customer-rec-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    justify-content: space-between;
    grid-gap: 20px;
    align-items: center;
    text-align: center;


}

.item {
    height: 300px; /* den her får boksen til at se stor ud i opskrift liste på hjemmeside*/

    margin-bottom: 5rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.item:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}



.container div {
    margin: 4rem;
}

p {
    font-size: 20px;
    font-weight: bolder;
    margin: 0.5rem;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.container a {
    text-decoration: none;
    color: unset;
}