<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="customer-recipe-list.css">
    <script src="../../global/global.js"></script>
    <title>Vores Opskrifter</title>
</head>

<body>


    <div class="customer-rec-list" id="customer-recipe-list">


    </div>



<script src="../../lib/escapeHTML.js"></script>
<script src="recipeList.js"></script>

</body>
</html>