<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="customer-spice.css">

</head>
<body>
<header>

    <div class="nav">
        <ul>
            <li class="logo"><a href="#">LOGO</a></li>
            <li class="krydderier"><a href="customer-spice-list.html">Krydderier</a></li>
            <li class="opskrifter"><a href="http://localhost:63342/SpiceClub/template/customer/recipe/recipe-list.html?_ijt=tij1v8nosjhs2s6jakr8l06v86&_ij_reload=RELOAD_ON_SAVE">Opskrifter</a></li>

        </ul>
    </div>

</header>

<div id="spice-details"></div>

<script src="../../global/global.js"></script>
<script src="customer-spice-specific.js"></script>


</body>
</html>