<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="customer-spice-list.css">
    <title>Krydderi liste</title>
</head>

<body>



<header>
    <section class="nav">
        <ul>
            <li class="logo"><a href="#">LOGO</a></li>
            <li class="krydderier"><a href="customer-spice-list.html">Krydderier</a></li>
            <li class="opskrifter"><a href="http://localhost:63342/SpiceClub/template/customer/recipe/recipe-list.html?_ijt=669m2l4evef258ocefh6hd8fdc&_ij_reload=RELOAD_ON_SAVE">Opskrifter</a></li>

        </ul>
    </section>
</header>

<h1 id="title">Krydderier</h1>

<div id="customer-spice-list">

</div>

<script src="../../global/global.js"></script>
<script src="customer-spice-list.js"></script>

</body>

</html>
