<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="customer-spice.css">

</head>
<body>


<section id="om">

    <h1>Peber</h1>

    <div class="sectionwrapper">

        <div class="col">
            <figure>
                <img src="./oregano.jpg" alt="">
                    <p>Oregano</p>
                    <p>60 kr ,-</p>
                    <div class="kurv">
                        <button>Tilføj til kurv</button>
                    </div>
            </figure>
        </div>

        <div class="col">
            <h3>Beskrivelse </h3>
            <p>Swiss Style er en bevægelse, der fandt sted i 1955-1975 i Schweiz. Stilarten indledtes af to Schweiziske kunstskoler, Kunstgewerbeschule i Zurik og Allgemeine Gewerbeschule i Basel.
                Stilartens ledende designer er Josef Müller-Brockmann og Armin Hofmann.
            </p>

        </div>



    </div>

</section>


</body>
</html>