<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="customer-spice.css">
    <title>Krydderi liste</title>
</head>

<body>

<header>

    <div class="nav">
        <ul>
            <li class="logo"><a href="#">X</a></li>
            <li class="Krydderier"><a href="customer-spice.html">Krydderier</a></li>
            <li class=""><a href="customer-spice.html">Opskrifter</a></li>

        </ul>
    </div>

</header>

<h1 id="title">Krydderier</h1>

<section id="spice-list">

    <div id="oregano">
        <img src="./oregano.jpg">
        <p>Oregano</p>
        <p>60 kr ,-</p>
        <div class="kurv">
            <button>Tilføj til kurv</button>
            <p class="like">Hjerte</p>
        </div>
    </div>

    <div id="oregano">
        <img src="./oregano.jpg">
        <p>Oregano</p>
        <p>60 kr ,-</p>
        <div class="kurv">
            <button>Tilføj til kurv</button>
            <p class="like">Hjerte</p>
        </div>
    </div>

    <div id="oregano">
        <img src="./oregano.jpg">
        <p>Oregano</p>
        <p>60 kr ,-</p>
        <div class="kurv">
            <button>Tilføj til kurv</button>
            <p class="like">Hjerte</p>
        </div>
    </div>

    <div id="oregano">
        <img src="./oregano.jpg">
        <p>Oregano</p>
        <p>60 kr ,-</p>
        <div class="kurv">
            <button>Tilføj til kurv</button>
            <p class="like">Hjerte</p>
        </div>
    </div>


    <div id="oregano">
        <img src="./oregano.jpg">
        <p>Oregano</p>
        <p>60 kr ,-</p>
        <div class="kurv">
            <button>Tilføj til kurv</button>
            <p class="like">Hjerte</p>
        </div>
    </div>


    <div id="oregano">
        <img src="./oregano.jpg">
        <p>Oregano</p>
        <p>60 kr ,-</p>
        <div class="kurv">
            <button>Tilføj til kurv</button>
            <p class="like">Hjerte</p>
        </div>
    </div>





</section>

</body>

</html>
