<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="Website-spice.css">
  <meta charset="UTF-8">

  <title>Krydderier</title>
</head>
<body>

<div id="nav-bar">
</div>

<div  id="customer-spice-list">
</div>

<div id="footer">
</div>




<script src="../../global/global.js"></script>
<script src="../../lib/escapeHTML.js"></script>
<script src="../../global/global-nav-footer.js"></script>
<script src="spiceList.js"></script>

</body>
</html>