<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="blog.css">
    <link rel=stylesheet href="../frontpage/frontpage.css">
    <title>Tilføje Blog</title>
</head>
<body>

<nav class="navbar">
    <h2><a href="../frontpage/frontpage.html">Dashboard</a></h2>
    <h5> <a href="../admin/recipes.html">Opskrifter</a></h5>
    <h5><a href="../admin2/spice.html">Krydderier</a></h5>
    <h5>Statistik</h5>
    <h5><a href="../admin3/blog.html ">Blog</a></h5>
    <h5>Bestillinger</h5>
    <div class="profile">
        <span class="search-bar"></span>
        <img class="profile-image" src="https://picsum.photos/200/200?random=1">
        <p class="profile-name">Admin: </p>
    </div>
</nav>


<h2>Tilføj en blog</h2>

<div id="blog">

    <label>Navn</label>
    <br>
    <input id="create-blog-title" placeholder="Indtast navnet på blog">
    <br><br>
    <label>Beskrivelse</label>
    <br>
    <textarea id="create-blog-description" placeholder="Indtast beskrivelsen af blog"></textarea>
    <br><br>
    <label>Billede</label>
    <br>
    <input  type="file" id="create-blog-image" placeholder="Indsæt billed til blog" name="image-name">
    <br> <br>
    <button id="button-plus" onclick="createBlog(); myhref2()">+</button>

</div>

<script src="createBlog.js"></script>
<script src="../global/global.js"></script>

</body>
</html>