<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../lib/escapeHTML.js"></script>
    <script src="../global/global.js"></script>
    <link rel="stylesheet" href="updateBlog.css">
    <link rel=stylesheet href="../frontpage/frontpage.css">
    <title>Opdater Blog</title>
</head>
<body>

<nav class="navbar">
    <h2><a href="../frontpage/frontpage.html">Dashboard</a></h2>
    <h5> <a href="../admin/recipes.html">Opskrifter</a></h5>
    <h5><a href="../admin2/spice.html">Krydderier</a></h5>
    <h5>Statistik</h5>
    <h5><a href="../admin3/blog.html ">Blog</a></h5>
    <h5>Bestillinger</h5>
    <div class="profile">
        <span class="search-bar"></span>
        <img class="profile-image" src="https://picsum.photos/200/200?random=1">
        <p class="profile-name">Admin: </p>
    </div>
</nav>

<div id="blog-wrapper">


</div>


<script src="./blogUpdate.js"></script>
<script src="./blogDelete.js"></script>

</body>
</html>